# TEMA 2: EJERCICIO CLASIFICACIÓN HEART DISEASE

---

El dataset a utilizar es `heart_disease.csv`. El objetivo es construir un modelo de clasificación que prediga si una persona tiene una enfermedad de corazón o no.

- **Apartado 1**: Realiza el preprocesamiento necesario para que todas las columnas estén en formato numérico y no haya valores nulos.
- **Apartado 2**: Ajusta un KNN, probando distintos nº de vecinos en el KNN hasta encontrar el óptimo. ¿Qué modelo elegirías en base al AUC obtenido?
- **Apartado 3**: Sobre el modelo elegido, representa la matriz de confusión y calcula el precision y el recall con un umbral de 0.5. ¿Cómo modificarías el umbral para obtener una precisión superior?

In [1]:
import pandas as pd
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import auc, confusion_matrix, precision_score, recall_score, roc_curve

In [2]:
def predict_and_get_auc(model):
    
    y_train_prob = model.predict_proba(X_train)
    y_test_prob = model.predict_proba(X_test)

    fpr, tpr, threshold = roc_curve(y_train, y_train_prob[:, 1])
    print("AUC train = ", round(auc(fpr, tpr), 2))

    fpr, tpr, threshold = roc_curve(y_test, y_test_prob[:, 1])
    print("AUC test = ", round(auc(fpr, tpr), 2))

In [3]:
df = pd.read_csv("heart_disease.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,male,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,yes
1,37,male,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,yes
2,41,female,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,yes
3,56,male,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,yes
4,57,female,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,yes

## Apartado 1

In [ ]:
# resolver

## Apartado 2

In [ ]:
# resolver

## Apartado 3

In [ ]:
# resolver